<p id="notice"><%= notice %></p>

<%= render partial: @note_image %>

<%= link_to 'Edit', edit_note_note_image_path(@note_image.note, @note_image) %> |
<%= link_to 'Back', note_note_images_path(@note_image.note) %>
