<h1>Listing direct messages</h1>

<% @conv_users.each do |i| %>
	<%= render partial: "direct_message", object: i.last_dm_with(current_user) %>
	<%= link_to "show", user_direct_message_path(current_user,i.last_dm_with(current_user)) %>
	<hr>
<% end %>

<%# @conv_users.map{ |i| i.id} %>

</table>
