//=require_tree .

$primary_color: #33AE00
$sub_color: lighten(blue,50)
$font_color: #555
$normal_font_size: 16px
$smaller_font_size: 12px

body
	color: $font_color
	
	a
		text-decoration: none
		
		&:visited,&:active,&:link
			color: $primary_color
		
		&:hover
			color: $font_color
		
	a:hover
		color: #0f0		
	
	.clearfix:after 
		content: "."
		display: block
		clear: both
		height: 0
		visibility: hidden
	

	.clearfix 
		min-height: 1px

table
	tr:nth-child(odd)
		background-color: lighten($primary_color, 55)
	tr:nth-child(even)
		background-color: lighten($primary_color, 45)