@import "application.css.sass"

.comment
	width: 500px
	margin: 5px 0 5px 0

	.comment-avatar
		width: 64px
		height: 48px
		margin: 0 10px 0 0 
		float: left
		text-align: center
		
	.comment-body
		margin: 0 0 0 10px

	.comment-header
		font-size: $smaller_font_size
