$container_width : 980px
$sidebar_width : 180px
$local_main_width : 400px
$footer_height: 60px

html
	height: 100%
	padding: 0

body
	height: 100%

#wrapper
	min-height: 100%

.container 
	width: $container_width
	margin: 0px auto
	padding-top: 10px
	//padding-bottom: 50px

#header
	height: 40px

#body
	.container
		padding-top: 10px
		background-color: white

#main
	overflow: auto
	padding-bottom: $footer_height
	

.content
	width: $container_width - $sidebar_width
	float: right
	margin: 0px


#left-sidebar
	width: $sidebar_width
	float: left

#footer
	background-color: #888
	height: $footer_height
	position: relative
	margin-top: -$footer_height
	clear: both
