// Place all the styles related to the Microposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.micropost
	.micropost_profile
		float: left
		width: 50px
		height: 50px
		margin-left: 10px
		padding: 1px
		
	.micropost_body
		float: left
		margin: 0
		padding 5px
		
	.comments-wrapper
		padding-left: 30px