@import "application.css.sass"

div.page
	margin: 20px auto
	.page-header
		font-size: $smaller_font_size
		img
			max-width: 64px
			max-height: 48px
			
	
	.page-body
		padding: 0 0 0 64px
		margin: 10px auto 10px
		
	.page-footer
		font-size: $smaller_font_size
		padding: 0 0 0 64px